<div class="container flex mx-auto bg-red-500 ">
    <!-- <a routerLink="start" routerLinkActive="active" class="flex-none rounded border-black border-2 text-center p-1">
        Reset
    </a> -->
    <button appBackButton class="flex-none rounded border-black hover:border-white border-2 w-8 p-1 my-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
    </button>
    <div class="text-center flex-auto text-3xl">
        Jihanzi - Word Filter
    </div>
</div>

<router-outlet></router-outlet>