@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
      font-family: MyKaiti;
      font-weight: 400;
      src: url(/assets/fonts/Kaiti.ttf) format("truetype");
    }
  }

/* turn off user selection of text in the window */
/* https://github.com/electron/electron/issues/2538 */

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}